<% r = [] %>
<% @villes.each do |ville|  %>
  <% r << ville.region %>
<% end %>

<% r.uniq.each do |region| %>
  <p><%= region %></p>
  <ul>
      <% @villes.where(region: region).each do |ville| %>
        <li><%= link_to ville.name, ville_path(ville) %></li>
      <% end %>
  </ul>
<% end %>

<%= link_to "Créer une nouvelle ville", new_ville_path %>
