#letters {
  margin-top: 20px;
  margin-bottom: 20px;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.letterone {

}

.letterbis {
  color: grey;
}

.letter {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height:30px;
  border-radius: 15px;
}

.letterone:hover {
  color: white;
  background-color: black;
  transform: scale(2);
}

.navlink img {
  width: 80px !important;
}

.fa-user-circle {
  font-size: 30px;
  height: 40px;
  display: block;
  text-align: center;
  line-height:40px;
}

.fa-user-circle:hover {
  color: red;
}
